{% extends "base.html.twig" %}

{% block content %}
    <div class="container d-flex justify-content-center text-center">
        <div class="row">
            <div class="p-3">
                <div class="card">
                    <img class="card-img-top" src="{{ product.photo  }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">Color: {{ product.color }}</p>
                        <a href="{{ url('category', {categoryId : product.getCategory().id}) }}" class="card-text text-black-50">Category: {{ product.getCategory().name }}</a>
                        <p class="card-text">Price: {{ product.price }}$</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}